<%= form_for @boat do |f| %>





 

  <div class="field">
    <%= f.label :name, "Boat Name" %>
    <%= f.text_field :name %>
  </div>


   <div class="field">
    <%= f.label :total_cont, "Number of Containers" %>
    <%= f.text_field :total_cont %>
  </div>

   <div class="field">
    <%= f.label :avail_cont, "Available Containers" %>
    <%= f.text_field :avail_cont %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
